@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* Fonte: Space Grotesk, Weight: 300 - 700, Sans-Serif */

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", "Sans-Serif";
}

:root {
    --azulclaro: #3778FA;
    --cinza: #5e5e5e;
    --cinza-claro: #f3f3f3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    
}

.header-title h1 {
    color: var(--azulclaro);
    font-weight: 500;
    font-size: 1.5rem;
}

.hamburguer-menu {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    transform: scaleX(1.5);
    transform-origin: right;
}

.top-main-texts {
    text-align: center;
    padding: 2rem 1.5rem;
    font-size: 1rem;
    flex-direction: column;
}

.top-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}

.top-text-content {
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.top-subtitle-content {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
}

.photo-contents  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.top-photos-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-photos-content img {
    max-width: 90%;
    height: auto;
}

.middle-top-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 6.875rem;
    width: 100%;
}
.middle-top-text {
    font-size: 1.8rem;
    max-width: 80%;
    margin-bottom: 2rem;
}
.middle-top-video {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.middle-top-video img {
    max-width: 90%;
    height: auto;
}

.middle-bottom-content {
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
}

.middle-bottom-text {
    text-align: center;
    padding: 1rem 1rem 0 1rem;
    margin: 2rem;
    font-size: 2rem;
    max-width: 77%;
}

.middle-bottom-box {
    background-color: var(--cinza-claro);
    margin: 1rem;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    padding-bottom: 3.5rem;
}

.middle-bottom-photo {
    display: flex;
    justify-content: center;
    padding: 3rem 0 2rem;
    aspect-ratio: 15.5 / 12;
}

.question-text {
    font-size: 1rem;
    font-weight: 500;
}

.question-text-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    margin: 0.75rem 1.25rem 0.75rem 1.25rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
}

.question-response p {
    margin-top: 1rem;
}

.question-response {
    color: var(--cinza);
    font-size: 0.9rem;
}

.icon-plus {
    color: var(--cinza);
}

.footer-top-content {
    background-color: var(--azulclaro);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem 1rem 1.25rem;
    border-top: 20px;
    border-start-start-radius: 20px;
    border-start-end-radius: 20px;
}

.footer-top-content h2 {
    padding-top: 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.footer-top-content p {
    font-size: 14px;
    font-weight: 100;
}

.footer-top-btn {
    margin-top: 2.5rem;
    margin-bottom: 5rem
}

.learn-more {
    margin-top: 2rem;
    background-color: white;
    border-radius: 100px;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    font-weight: 600;
}

.footer-line {
    display: flex;
    border: none;
    height: 1px;
    background-color: #fff;
    width: 100%;
    margin: 20px auto;
}

#footer-line {
    display: flex;
    padding: 0 1.5rem 0 1.5rem;
    background-color: var(--azulclaro);
}

.footer-middle-top-content {
    background-color: var(--azulclaro);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 1.5rem;
    color: white;
}

.footer-middle-top-sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
} 

.footer-middle-text {
    max-width: 60%; 
    text-align: left;
}

.footer-middle-h3 h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.footer-middle-p p {
    font-size: 0.9rem;
    line-height: 1.5;
    font-weight: 300;
}


.footer-middle-bottom-content {
    background-color: var(--azulclaro);
    color: white;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.row1, .row2, .row3 {
    display: flex;
    line-height: 3rem;
    padding: 0 0.5rem 0 0.5rem;
}

.footer-copyright {
    padding-top: 4.75rem;
}

.footer-end-content {
    background-color: var(--azulclaro);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
    font-weight: 100;
}

#view-maps {
    color: #8bc792
}

.footer-address {
    padding: 0 2.5rem 0 2.5rem;
}

.footer-end {
    padding-bottom: 2rem;
}