@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* Fonte: Space Grotesk, Weight: 300 - 700, Sans-Serif */

* {
    margin: 0;
    padding: 0;
    font-family: "Space Grotesk", "Sans-Serif";
}

:root {
    --azulclaro: #3778FA;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    
}

.header-title h1 {
    color: var(--azulclaro);
    font-weight: 500;
    font-size: 1.5rem;
}

.hamburguer-menu {
    font-size: 1.5rem;
    margin-right: 1rem;
    display: inline-block;
    transform: scaleX(1.5);
    transform-origin: right;
}

.top-main-texts {
    text-align: center;
    padding: 2rem 1.5rem;
    font-size: 1rem;
    flex-direction: column;
}

.top-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}

.top-text-content {
    font-size: 2.8rem;
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.top-subtitle-content {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
}

.photo-contents  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.top-photos-content {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top-photos-content img {
    max-width: 90%;
    height: auto;
}

.middle-top-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 6.875rem;
    width: 100%;
}

.middle-top-text {
    font-size: 1.8rem;
    max-width: 80%;
    margin-bottom: 2rem;
}

.middle-top-video {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.middle-top-video {
    display: flex;
    justify-content: center;
    width: 100%;
}

.middle-top-video img {
    max-width: 90%;
    height: auto;
}

.middle-bottom-content {
    background-color: #ccc;
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer-top-content {
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.footer-middle-top-content {
    background-color: chocolate;
    display: flex;
    flex-direction: row;
    padding-right: 5.688rem;
}

.footer-middle-bottom-content {
    background-color: var(--azulclaro);
    color: white;
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footer-copyright {
    padding-top: 4.75rem;
}

.footer-end-content {
    background-color: var(--azulclaro);
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.25rem;
}

.footer-end {
    padding-bottom: 2rem;
}